{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if title %}
  <title>Insta Connect- {{ title }}</title>
  {% else %}
  <title>Insta Connect</title>
  {% endif %}
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    #id_username {
      box-shadow: 2rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 24rem;
      background-color: rgb(240, 190, 159);
      border-radius: 0.3rem;
      padding-left: 0.5rem;
      font-size: large;
    }

    #id_password {
      width: 24rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      background-color: rgb(240, 190, 159);
      border-radius: 0.3rem;
      padding-left: 0.5rem;
      font-size: large;
    }
  </style>
</head>

<body>
  <div class="grid grid-cols-12 mt-32">
    <div class="md:col-span-7 col-span-12 mt-48 ">
      <div class="grid grid-cols-12 flex items-center">
        <div class="col-span-4 flex justify-end">
          <img src="{%static 'connect/images/logi.jpg' %}" class="h-20" alt="" srcset="" class="">
        </div>
        <div class="col-span-8 text-5xl pl-3 text-gray-600">
          Insta <span class="text-orange-500">Connect</span>
        </div>
      </div>
      <div class="text-4xl py-12 px-36 text-gray-400 text-center">
        Insta connect lets you associate with the people in your life
      </div>
    </div>
    <div class="md:col-span-5 col-span-12">
      <div class="ml-24 mr-56 shadow-lg rounded-3xl">
        <div class="bg-orange-500 h-48 rounded-t-3xl text-white px-8 pt-20">
          <div class="text-5xl mb-4">Thank You
          </div>
          <div class=" text-lg">

            <div class=" underline underline-offset-2 text-end"><a href="{% url 'login' %}">Login Again</a></div>
            <div> </div>
          </div>
        </div>
        <div class="" style="height: 30rem;">
          <form method="POST" class="text-gray-500 mx-12 mt-12 text-3xl">
            You have been logged out
          </form>
        </div>
      </div>

    </div>
  </div>

</body>

</html>