{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    {% if title %}
    <title>Insta Connect- {{ title }}</title>
    {% else %}
    <title>Insta Connect</title>
    {% endif %}
    <style>
      #id_image {
        padding-left: 5rem;
        padding-top: 4rem;
      }

      #id_description {
        box-shadow: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        height: 5rem;
        background-color: rgb(255 237 213);
        border-radius: 0.3rem;
        padding-left: 0.5rem;
        font-size: large;
      }
      #imgUP {
        cursor: pointer;
        text-align: center;
        justify-content: center;
        border: 1px solid lightgray;
        border-radius: 1rem;

        margin-top: 1rem;
        font-size: 2rem;
        color: grey;
      }
      ::-webkit-scrollbar {
        width: 0.5em;
      }

      ::-webkit-scrollbar-track {
        background-color: transparent;
      }

      ::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    </style>
  </head>

  <body>
    <div class="grid grid-cols-12 mt-4">
      <div class="md:col-span-7 col-span-12">
        <div
          class="grid grid-cols-12 flex items-center cursor-pointer"
          onclick="location.href=`{% url 'connect-profile' %}`;"
        >
          <div class="col-span-3 flex justify-end">
            <img
              src="{%static 'connect\images\logi.jpg' %}"
              class="h-20"
              alt=""
              srcset=""
              class=""
            />
          </div>
          <div class="col-span-9 text-5xl pl-3 text-gray-600">
            Insta <span class="text-orange-500">Connect</span>
          </div>
        </div>
        <div class="mx-48 pl-16 mt-6 overflow-y-auto h-[45rem]">
          <div
            class="card shadow-xl border border-gray-200 rounded-t-3xl pt-4 mt-12 mb-4"
            id="c1"
          >
            <div class="pl-8 mb-4">
              <div class="grid grid-cols-8">
                <div class="col-span-1">
                  <img
                    src="{{ post.author.profile.image.url }}"
                    alt="logo"
                    srcset=""
                    class="h-12 w-12 rounded-full"
                  />
                </div>
                <div class="col-span-5 text-2xl">
                  <b
                    class="cursor-pointer hover:underline underline-offset-2"
                    onclick="window.location.href=`{% url 'profile-account' post.id %}`"
                    >{{ object.author }}</b
                  >
                </div>
                <div class="col-span-2 text-2xl flex justify-end px-4">
                  {{post.date_posted|date:"j b"}}
                </div>
              </div>
            </div>
            <div
              id="c1b"
              onclick="window.location.href=`{% url 'post-detail' post.id %}`"
            >
              <img
                src="{{ object.image.url }}"
                alt=""
                srcset=""
                class="h-96 cursor-pointer"
              />
            </div>
            <div id="c1c">
              <div class="grid-cols-12 my-4 px-8">
                <div class="col-span-2">
                  {% if post in user.profile.likedPosts.all %}
                  <img
                    src="{%static 'connect/images/unlike.png' %}"
                    alt=""
                    srcset=""
                    class="h-12 w-12 cursor-pointer float-left"
                    onclick="window.location.href=`{% url 'post-unlike' post.id %}`"
                  />

                  {% else %}
                  <img
                    src="{%static 'connect/images/download.png' %}"
                    alt=""
                    srcset=""
                    class="h-12 w-12 cursor-pointer float-left"
                    onclick="window.location.href=`{% url 'post-like' post.id %}`"
                  />
                  {% endif %}
                </div>
                <div
                  class="col-span-8 text-2xl float-left ml-4 flex items-center pt-2"
                >
                  <b>{{ object.likes }} Likes</b>
                </div>

                <div class="col-span-2 flex justify-end" type="submit">
                  {% if post in user.profile.savedPosts.all %}
                  <img
                    src="{%static 'connect/images/saved.jpg' %}"
                    alt=""
                    srcset=""
                    class="saved h-12 w-12 cursor-pointer"
                    onclick="window.location.href=`{% url 'post-unsave' post.id %}`"
                  />

                  {% else %}
                  <img
                    src="{%static 'connect/images/save.png' %}"
                    alt=""
                    srcset=""
                    class="unsaved h-12 w-12 cursor-pointer"
                    onclick="window.location.href=`{% url 'post-save' post.id %}`"
                  />
                  {% endif %}
                </div>
              </div>
              <div class="px-8 mb-4 text-2xl"><b>{{object.author}}</b> : {{object.description}}</div>
              <div class="px-8 mb-0 text-2xl"><b>Comments</b></div>
              <div id="comments" class="px-8 mb-8 text-2xl">
                
                {% for comment in comments%}
                <div class="px-8 mb-0 text-2xl">
                  <b>{{comment.author}}</b> : {{comment.text}}
                </div>
                {% endfor %}
                <form class="grid-cols-12 flex justify-start items-center h-8 mt-4" method="POST" action="{% url 'post-comment' post.id %}">
                  {% csrf_token %}
                  <input class="col-span-8 border border-gray-300"  type="text" name="textfield" id="textfield" />
                  <button class="px-4 mx-4 bg-orange-500 text-white rounded-md hover:bg-orange-600 focus:outline-none focus:ring-orange-500 focus:border-orange-500 col-span-4"type="submit">
                    Comment
                  </button>
                </form>
              </div>
            </div>
          </div>
          {% if post.author == user %}
          <button
            type="submit"
            class="shadow-lg rounded-3xl border border-black p-4 mt-8 text-2xl bg-gray-200"
            style="width: 100%"
            onclick="window.location.href=`{% url 'post-update' post.id %}`"
          >
            Update Post
          </button>
          <button
            type="submit"
            class="shadow-lg rounded-3xl border border-black p-4 mt-8 text-2xl bg-red-500"
            style="width: 100%"
            onclick="window.location.href=`{% url 'post-delete' post.id %}`"
          >
            Delete Post
          </button>
          {% endif %}
        </div>
      </div>
      <div
        class="lg:col-span-5 col-span-12 mt-0 lg:fixed lg:top-0 lg:right-0"
        style="width: 50rem"
      >
        <div
          class="flex justify-end px-12 mb-20 mt-8 cursor-pointer grid grid-cols-12"
          
        >
          <form
            method="post"
            action="{% url 'profile-search' %}"
            class="col-span-9 flex justify-end"
          >
            {% csrf_token %}
            <div class="flex items-center">
              <input
                type="text"
                name="username"
                placeholder="Search by username"
                class="px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring-orange-500 focus:border-orange-500"
              />
              <button
                type="submit"
                class="px-4 py-2 bg-orange-500 text-white rounded-r-md hover:bg-orange-600 focus:outline-none focus:ring-orange-500 focus:border-orange-500"
              >
                Search
              </button>
            </div>
          </form>
          <div class="col-span-3 flex justify-center " >
            <img
              src="{{user.profile.image.url}}"
              alt="img"
              width="80px"
              height="80px"
              class="h-12 w-12 rounded-full hover:bg-gray-100"
              onclick="window.location.href=`{% url 'main-profile' %}`"
            />
          </div>
        </div>
        <div
          class="lg:ml-36 lg:mr-36 mx-auto shadow-lg rounded-3xl"
          style="width: 32rem"
        >
          <div
            class="grid grid-cols-6 bg-orange-500 h-24 rounded-t-3xl text-white px-8 pt-4"
          >
            <div
              class="text-5xl mb-2 col-span-4 flex items-center cursor-pointer"
              onclick="window.location.href=`{% url 'editprofile' %}`"
            >
              Messages
            </div>
            <div class="col-span-2 flex justify-end items-center"></div>
          </div>
          <div class="px-4 pt-4 overflow-y-auto h-[25rem]" style="height: 28rem">
            <div class="modal-body">
              <ul class="list-unstyled">
                {%for chat in chats%}
                <a
                  href="{% url 'chatroom' chat.receiver.id%}"
                  class="text-decoration-none "
                >
                  <li class="media hover-media">
                    <div class="grid grid-cols-12 mt-4 hover:bg-gray-100">
                      <div class="col-span-2">
                        <img
                          src="{{chat.receiver.profile.image.url}}"
                          alt="img"
                          width="60px"
                          height="60px"
                          class="h-12 w-12 rounded-full"
                        />
                      </div>
                      <div class="media-body text-dark col-span-9">
                        <h6 class="media-header text-xl">
                          <b>{{chat.receiver}}</b>
                        </h6>
                        <p class="media-text">{{chat.last_text}}</p>
                      </div>
                    </div>
                  </li>
                </a>
                <hr class="my-3" />
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <div
          class="ml-36 mr-36 shadow-lg rounded-3xl flex justify-center items-center py-4 border border-black-600 mt-4 cursor-pointer hover:bg-gray-100"
          id="create"
        >
          <div
            onclick="location.href=`{% url 'connect-create' %}`;"
            class="grid grid-cols-6"
          >
            <div class="col-span-1">
              <img
                src="{%static 'connect\images\images.jpg' %}"
                alt=""
                srcset=""
                class="h-8"
              />
            </div>
            <div class="col-span-5 text-2xl">Create a new Post</div>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'connect/scripts/create.js' %}"></script>
  </body>
</html>
